{% extends "base.html.twig" %}

{% block body %}

    <h1>Dit is de student in kwestie:</h1>

    {{ student.naam }}
    {{ student.voornaam }}
    {{ student.punten }}
    {{ student.geslacht }}

{% endblock %}