{% extends "base.html.twig" %}

{% block body %}

    <h1>Dit is de registratie pagina</h1>

    <form method="POST" action="/api/films">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}